
{{#if @site.logo}}
    <div class="logo">
        <a class="blog-logo" href="{{@site.url}}">
            <img class="blog-logo-image" src="/content/images/logo.gif" alt="Blog Logo"/>
        </a>
    </div>
{{/if}}


<hr>

{{navigation}}

<hr>

{{> "tagnav"}}
