{{!< default}}

{{#contentFor "initHighlight"}}
    <script>hljs.initHighlightingOnLoad();</script>
{{/contentFor}}



<main class="container" role="main">

    <article class="{{post_class}}">
    {{#post}}

        <header class="col-lg-10 col-12">
        <div class="no-margin no-padding post">
            <h1 class="title">
            {{title}}
            </h1>
            <hr>
        </div>
        

        </header>
        <section class="col-lg-11 col-12">
            {{content}}
        </section>
    {{/post}}
    </article>

</main>
