{{!< default}}

<div class="back-home">
    <a href="{{@site.url}}" class="back-home"><i class="el el-th-list"></i> Home</a>
</div>
<hr>

{{#contentFor "initHighlight"}}
    <script>hljs.initHighlightingOnLoad();</script>
{{/contentFor}}



<main class="container" role="main">

    <article class="{{post_class}}">
    {{#post}}

        <h1 class="title">{{title}}</h1>

        <section>
            {{content}}
        </section>

    {{/post}}
    </article>

</main>
