{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{#tag}}
<div class="blog-description col-md-12 visible-sm visible-xs">
  <h1 class="top-h1">Posts with</h1>
  <br>
  <h1 class="bottom-h1"> <i class="el el-tag"></i>  {{name}}</h1>
</div>
{{/tag}}

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>