@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');

body {
  background-color: #f0f0f0
}

.topbar {
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 61px;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.topbar-nav {
  height: 60px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

h1,h2,h3,h4,h5, article {
  font-family: 'Nanum Gothic';
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
	hyphens: auto;
}

article h1, article h2, article h3 {
  margin-bottom: 20px;
  font-size: 26pt;
}

article {
  font-size: 11pt;
}

article p, article li {
  line-height: 2em;
}

article p{
  text-indent: 1em;
}

article figcaption {
  text-align: center;
}

article header {
  margin-top: 20px;
  margin-bottom: 20px;
  color: darkblue;
  text-shadow: 0.5px 0.5px lightblue;
}

.main-col {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: white;
}

.left-col {
  min-width: 140px;
}


a { 
color:#4078c0;
}

a:hover {
  color:#4078c0;
  text-decoration: none;
}

.no-margin {
  margin:0px;
}
.no-margin-left {
  margin-left:0px;
}
.no-margin-right {
  margin-left:0px;
}

.no-padding {
  padding:0px;
}
.no-padding-left {
  padding-left:0px;
}
.no-padding-right {
  padding-left:0px;
}
ul.menu li a i {
  padding:5px 5px 2px 0px;
}
ul.menu li a {
  color:#2E5586;
  text-decoration: none;
}
ul.menu li a:hover {
  color:#4078c0;
  text-decoration: none;
}
ul.menu li:hover {
  border-right:3px solid #428bca;
  transition:all 0.1s ease;
}

ul.menu li {
  margin-top: 9px;
}

ul.menu li a{
  font-size:13pt;
  font-weight:300;
}

/*
.sns-menu {

}
*/

.nav-div {
  background-color: white;
  padding: 10px 10px 10px 10px;
}


.right-nav-div {
  margin: 0px 15px 0px 15px;
  min-width: 200px;
}

.left-nav-div {
  max-width: 220px;
  margin-right: 0;
  margin-left: auto;
}

.logo {
  text-align: right;
}

.blog-logo-image {
  max-height:100%;
  padding:5px;
  border-radius: 6px;
  width: 100%;
}
/*
.left-navbar-hr {
  margin-left: auto;
  margin-right: 0;
  width: 50%;
}
*/

.nav {
  flex-direction: column;
}

.pagination {
  display: block;
}

.cover-border {
  border-bottom:1px solid #BDBDBD;
  width:100%; 
  height:800px;
}
.cover {
  background-size:cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-description h1 {
  font-size:25px;
  font-weight:300;
  line-height: 32px;
  display: inline-block;
  text-align: left;

}

.blog-description .top-h1 {
  margin-bottom: 0;
}

.blog-description .bottom-h1 {
  border-bottom:10px solid rgba(64, 120, 192, 0.5);
  display: inline-block;
}

.summary .description p{
  font-size:15px;
  color:#767676;
  font-weight:300;
  text-indent: 1em;
}

i.read-more{
  font-size:10px;
  margin-left:5px;
  margin-right:5px;
}

.main-container {
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.subhead {
  font-weight:300;
  font-size:12px;
  margin-bottom:15px;
  font-style: italic;
  text-align: right;
}

.footer-icon {
  color:red; 
  font-size:10px; 
  padding:10px
}

.page-footer{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.back-home {
  font-size: 14pt;
  margin-top: 10px;
}

.post-image {
  width:90%;
  height:90%;
  line-height:5;
}

pre {
  background-color:none;
  padding:0px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}


.kg-card {  
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.kg-card.kg-embed-card {
  width: 70%
}

.kg-embed-card iframe {
  margin: auto;
  display: block;
}
.kg-image-card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.kg-image-card.kg-width-full{
  width: 100%;  
}

.kg-image-card.kg-width-wide {
  width: 100%;  
}

.kg-image {
  width: 100%;
}

/**
 * This is copied from https://ghost.org/docs/api/v3/handlebars-themes/editor/.
 */
.kg-bookmark-card {
  width: 100%;
  position: relative;
}

.kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
  text-decoration: none;
}

.kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  padding: 20px;
  order: 1;
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: .5em;
}

.kg-bookmark-metadata {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kg-bookmark-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.kg-bookmark-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  margin-right: .5em;
  margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
  display: flex;
  flex-basis: 24rem;
  flex-grow: 1;
}

.kg-bookmark-thumbnail img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kg-bookmark-publisher::before {
  content: "•";
  margin: 0 .5em;
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  width: 100vw;
}
.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  
}

@media (max-width: 768px) {
  pre {
    width: 100%;
  }

  article header .title {
    text-align: initial;
  }

  .cover {
    margin-top: 60px;
  }

  .cover-border {
    height: 200px;
  }
  
  .kg-card.kg-embed-card {
    width: 100%;
    overflow: auto;  
  }
  
  .kg-embed-card iframe {
    margin: auto;
    display: block;
    width: 100%;
    max-width:480px;
  }

  .kg-image-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .kg-image-card.kg-width-full{
    width: 100%;  
  }
  
  .kg-image-card.kg-width-wide {
    width: 100%;  
  }  
}

@media (min-width: 768px) and (max-width: 1200px) {
  article header .title {
    font-size: 26px;
    text-align: center;    
  }
}

@media (min-width: 1200px) {

  .cover {
    max-height: 240px;
  }
}

@media (max-width: 1200px) {

  .cover {
    max-height: 200px;
  }

  .blog-logo-image {
    width: 90%;
  }

  .main-container {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  article h1, article h2, article h3 {
    text-align: initial;
  }

  article h1 {
    font-size: 20pt;
  }
  article h2 {
    font-size: 18pt;
  }
  article h3 {
    font-size:  16pt;
  }
}