@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');

body {
  background-color: #f0f0f0
}

h1,h2,h3,h4,h5, article {
  font-family: 'Nanum Gothic';
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
	hyphens: auto;
}

article h1, article h2, article h3 {
  margin-bottom: 20px;
  font-size: 26pt;
}

article {
  font-size: 11pt;
}

article p, article li {
  line-height: 2em;
}

article p{
  text-indent: 1em;
}

article figcaption {
  text-align: center;
}

article header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-col {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: white;
}

a { 
color:#4078c0;
}

a:hover {
  color:#4078c0;
  text-decoration: none;
}

.no-margin {
  margin:0px;
}
.no-margin-left {
  margin-left:0px;
}
.no-margin-right {
  margin-left:0px;
}

.no-padding {
  padding:0px;
}
.no-padding-left {
  padding-left:0px;
}
.no-padding-right {
  padding-left:0px;
}
ul.menu li a i {
  padding:5px 5px 2px 0px;
}
ul.menu li a {
  color:#2E5586;
  text-decoration: none;
}
ul.menu li a:hover {
  color:#4078c0;
  text-decoration: none;
}
ul.menu li:hover {
  border-right:3px solid #428bca;
  transition:all 0.1s ease;
}

.menu li a{
  font-size:13px;
  font-weight:300;
}

.sns-menu {
  margin-left: 60%;
}

.logo {
  text-align: right;
}

.blog-logo-image {
  max-width:100%; 
  max-height:100%;
  padding:5px;
  border-radius: 6px;
  width: 50%;
}

.left-navbar-hr {
  margin-left: auto;
  margin-right: 0;
  width: 50%;
}

.nav {
  flex-direction: column;
}

.pagination {
  display: block;
}

.cover-border {
  border-bottom:1px solid #BDBDBD;
  width:100%; 
  height:800px;
}
.cover {
  background-size:cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-description h1 {
  font-size:25px;
  font-weight:300;
  line-height: 32px;
  border-bottom:10px solid rgba(64, 120, 192, 0.5);
  display: inline-block;
  padding: 0 20px 10px;
}

.summary .description p{
  font-size:15px;
  color:#767676;
  font-weight:300;
  text-indent: 1em;
}

i.read-more{
  font-size:10px;
  margin-left:5px;
  margin-right:5px;
}

.main-container {
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.subhead {
  font-weight:300;
  font-size:12px;
  margin-bottom:15px;
  font-style: italic;
  text-align: right;
}

.footer-icon {
  color:red; 
  font-size:10px; 
  padding:10px
}

.page-footer{
  text-align: center;
}

.back-home {
  font-size: 14pt;
  margin-top: 10px;
}

.post-image {
  width:90%;
  height:90%;
  line-height:5;
}

pre {
  background-color:none;
  padding:0px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}


.kg-card {  
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.kg-card.kg-embed-card {
  width: 70%
}

.kg-embed-card iframe {
  margin: auto;
  display: block;
}
.kg-image-card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.kg-image-card.kg-width-full{
  width: 100%;  
}

.kg-image-card.kg-width-wide {
  width: 100%;  
}

.kg-image {
  width: 100%;
}

@media (min-width: 576px) {
}

@media (max-width: 768px - 1px) {
  pre {
    width: 100%;
  }
  .cover-border {
    height: 200px;
  }
  
  .kg-card.kg-embed-card {
    width: 100%;
    overflow: auto;  
  }
  
  .kg-embed-card iframe {
    margin: auto;
    display: block;
    width: 100%;
    max-width:480px;
  }

  .kg-image-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .kg-image-card.kg-width-full{
    width: 100%;  
  }
  
  .kg-image-card.kg-width-wide {
    width: 100%;  
  }
}

@media (max-width: 992px) {


}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

  .cover {
    max-height: 240px;
  }
}

@media (max-width: 1200px) {

  .cover {
    max-height: 200px;
  }

  .main-container {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  
  article h1, article h2, article h3 {
    text-align: initial;
  }

  article header .title{
    font-size: 26px;
    
  }
}